<div class="mx-3" [ngClass]="{entextalign :language=='en',artextalign :language=='ar'}">
    <p class="fbold f18">{{'ChangePassword' | translate }}</p>
</div>
<div>

    <div class="col-sm-12">
        <div class="card shadow-sm p-3 bg-white rounded">
            <div class="row">
                <div class="col-md-7" [ngClass]="{entextalign :language=='en',artextalign :language=='ar'}">
                    <form [formGroup]="changePassword" (ngSubmit)="onSavePassword()" focusInvalidInput autocomplete="off">
                        <div class="row row_mar">
                            <div class="col-sm-3 right_pad_none">
                                <label class="lbl_cls">{{'UsernameLabel' | translate }}</label>
                            </div>
                            <div class="col-sm-9 form-group">
                                <input class="form-control" readonly type="text" formControlName="username">
                            </div>
                        </div>
                        <!-- <div class="row mb-2">
                            <div class="col-sm-3 right_pad_none">
                                <label class="lbl_cls">{{'OldPassword' | translate }}</label>
                            </div>
                            <div class="col-sm-9 form-group">
                                <input class="form-control" type="password" autocomplete="off" formControlName="oldpassword" [ngClass]="(isSubmitted && !changePassword.get('oldpassword').valid) || (changePassword.get('oldpassword').hasError('required') && (changePassword.get('oldpassword').dirty || changePassword.get('oldpassword').touched)) ? 'invalid' : ''">
                                <div class="validations" *ngFor="let validation of validation_messages['oldpassword']">
                                    <span *ngIf="(isSubmitted && !changePassword.get('oldpassword').valid) || changePassword.get('oldpassword').hasError(validation.type) && (changePassword.get('oldpassword').dirty || changePassword.get('oldpassword').touched)">{{validation.message}}</span>
                                </div>
                            </div>
                        </div> -->
                        <div class="row mb-2">
                            <div class="col-sm-3 right_pad_none">
                                <label class="lbl_cls">{{'NewPassword' | translate }}</label>
                            </div>
                            <div class="col-sm-9 form-group">
                                <input class="form-control" type="password" maxlength="16" formControlName="newpassword" [ngClass]="(isSubmitted && !changePassword.get('newpassword').valid) || (changePassword.get('newpassword').hasError('required') && (changePassword.get('newpassword').dirty || changePassword.get('newpassword').touched)) ? 'invalid' : ''">
                                <div class="validations" *ngFor="let validation of validation_messages['newpassword']">
                                    <span *ngIf="(isSubmitted && !changePassword.get('newpassword').valid) || changePassword.get('newpassword').hasError(validation.type) && (changePassword.get('newpassword').dirty || changePassword.get('newpassword').touched)">{{validation.message}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-3 right_pad_none">
                                <label class="lbl_cls">{{'ConfirmPasswordLabel' | translate }}</label>
                            </div>
                            <div class="col-sm-9">
                                <input class="form-control" type="password" maxlength="16" formControlName="confirmpassword" [ngClass]="((isSubmitted && !changePassword.get('confirmpassword').valid) || (isSubmitted && changePassword.get('newpassword').value !== changePassword.get('confirmpassword').value)) ? 'invalid' : ''">

                                <div class="validations" *ngIf="((isSubmitted && !changePassword.get('confirmpassword').valid) || (isSubmitted && changePassword.get('newpassword').value !== changePassword.get('confirmpassword').value))">

                                    <span *ngIf="(isSubmitted && !changePassword.get('confirmpassword').valid) || (!changePassword.get('confirmpassword').valid && (changePassword.get('confirmpassword').dirty || changePassword.get('confirmpassword').touched))">{{'Required.ConfirmPassword' | translate }}</span>

                                    <span *ngIf="changePassword.get('confirmpassword').value != '' && (changePassword.get('newpassword').value !== changePassword.get('confirmpassword').value)">{{'PasswordMatch' | translate }}</span>

                                </div>
                            </div>
                        </div>
                        <div class="row row_mar" [ngClass]="{'float-right' :language=='en','float-left' :language=='ar'}">
                            <div><button type="submit" class="btn bggreen fwhite button">{{'SAVE' | translate }}</button></div>
                            <div><button type="button" (click)="onReset()" class="mx-2 btn bggreen fwhite button">{{'RESET' | translate }}</button></div>
                        </div>
                    </form>
                </div>
                <div class="col-md-5" *ngIf="PwdSopList.length>0">
                    <h5 class="rules-heading">{{'PasswordRules' | translate }}</h5>
                    <ul class="rules">
                        <li *ngFor="let error of PwdSopList">{{error}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>