.img-box {
    height: 300px;
    width: 100%;
}

.img_wrp {
    display: inline-block;
    position: relative;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
}