<div class="success-content pt-1">
    <div>
        <i class="far fa-check-circle fa-5x bg-color"></i>
        <h3 class="mt-2"> {{ 'success' | translate }}</h3>
        <p class="mb-1 mt-4">
            {{ 'paymentSuc' | translate }} {{ currency }} {{ amount | DecimalValue}}.
        </p>
        <div *ngIf="!policyNo">
            <h5> {{'PleaseWait' | translate }} </h5>
        </div>
        <div *ngIf="policyNo">
            <p class="mt-4"> {{'PolicyNoHash' | translate }}: {{policyNo}}</p>
            <!-- <div class="text-color mb-1" *ngIf="activateAccount">
                Click <strong>Activate Account</strong> to activate your account
            </div> -->
            <div *ngIf="activateAccount" class="centercss mb-3">
                Click here to <button class="btn btn-home button fwhite bggreen centercss ml-2" (click)="activateProfile()">Activate Account</button>
            </div>
            <div [ngClass]="{ensucessalign :language=='en',arsuccessalign :language=='ar'}">
                <!-- <p>{{'PolicySuccessAlertOne' | translate }}</p> -->
                <!-- <p>{{'PolicySuccessAlertOneABC' | translate }}</p> -->
                <!-- <p>{{'PolicySuccessAlertTwo' | translate }}</p> -->
                <!-- <p>{{'PolicySuccessAlertThree' | translate }}</p> -->
                
                <div class="fullwidth" *ngIf="accountActivationTokenStatus">
                    <div class="columns">
                        <img class="m-2 custom-cursor" src="./assets/icon1.png" (click)="downloadDocuments()" />
                        <p>{{'DownloadDocument' | translate }}</p>
                    </div>
                    <div class="columns">
                        <img class="m-2 custom-cursor" src="./assets/icon2.png" (click)="sendMail()" />
                        <p>{{'SendEmail' | translate }}</p>
                    </div>
                    <div class="columns">
                        <img class="m-2 custom-cursor" src="./assets/icon3.png" (click)="printDocument()" />
                        <p>{{'PrintDocument' | translate }}</p>
                    </div>
                </div>  
                <!-- <div *ngIf="activateAccount" class="fullwidth centercss" > -->
                    <div *ngIf="activateAccount" class="fullwidth " >
                    <p> As per the new law from Insurance Authority customer should be onboarded before printing any documents. We request you to activate account by pressing the button above.
                    </p>
                    <p>We made the Onboarding process seamless; we will share an OTP to your registered Mobile Number. Once validated you can create your own password and onboard with AFNIC.</p>
                    
                    <div [ngClass]="{eninstruction :language=='en',arinstruction :language=='ar'}">
                    <h5 class="ml-5 ">Benefits of onboarding</h5>
                        <ul >
                            <li >You can view / print your policy documents anytime.</li>
                            <li >You can request for any changes to your policies.</li>
                            <li >You can request to register claim online.</li>
                            <li >Get New Quotes/ Retrieve your existing Quote online.</li>
                          </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>