<div class="row m-0 p-0">
    <div class="col-md-10 col-9">
        <h5 style="display: flex;align-content: center;">{{ 'ChangeProduct' | translate }}</h5>
    </div>
    <div class="col-md-2 col-3 custom-cursor" (click)="onNoClick()">
        <mat-icon>
            close
        </mat-icon>
    </div>
    <hr />
    <div class="col-md-10 col-9">
        <p> {{ fullInsuranceVehicleAge }}</p>
        <div class="d-flex justify-content-center">
            <button class="btn btn-home button fwhite bggreen centercss" (click)="doChangeProduct(false)">{{ 'No' | translate }}</button>
            <button class="ml-4 btn btn-home button fwhite bggreen centercss" (click)="doChangeProduct(true)">{{ 'Yes' | translate }}</button>
        </div>
    </div>
</div>