
<div class="breadcrum-header my-bread-header m-0 p-0">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="color:#fff;background-color: teal;height: 100px;">

            <li  class="d-flex align-items-center breadcrumb-item poppins-med-18" aria-current="page">
                {{ 'Policy' | translate }}
            </li>
        </ol>
    </nav>
</div>


<!-- <div class="m-2">

    <mat-card class="usercard m-1 flicker" [class.voted]="flipped">

        <div *ngIf="!flipped" class="front">
            <div class="row my-3 p-0">
                <div class="justify-content-center col-md-10 col-sm-10 col-10">

                    <h5 class="centertext">Policy No &nbsp;&nbsp;</h5>
                    <span style="display: block;" class="centertext f10 mt-1"> 12/07/1995 to 31/08/1995 </span>
                </div>
                <div class="col-md-1 col-sm-1 col-1">
                    <mat-icon class="custom-cursor" (click)="flipIt()">more_vert</mat-icon>
                </div>
            </div>
            <mat-divider></mat-divider>
            <mat-card-content >
                <div class="centercss" style="height: 150px;">
                    <label>Product</label>
                </div>




            </mat-card-content>

        </div>
        <div *ngIf="flipped" class="back">
            <div class="row justify-content-end m-1">
                <mat-icon class="custom-cursor" (click)="flipIt()">close</mat-icon>
            </div>
        </div>
    </mat-card>
</div> -->


<div class="row my-1 mx-5">

    <div class="col-md-12" style="margin-top:20px;display:inline-block;padding:0px;z-index: 999;">
        <table class="table" mat-table [dataSource]="tableData" matSort>

            <ng-container class="poppins-light-15" [matColumnDef]="column" *ngFor="let column of displayedColumns">
                <tr>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-bottom: 15px;">
                        <span *ngIf="column=='policyNo'">{{ 'PolicyNo' | translate }} </span>
                        <span *ngIf="column=='mobileNo'">{{ 'MobileNo' | translate }}</span>

                        <span *ngIf="column=='quoteNo'">{{ 'QuoteNo' | translate }}</span>
                        <span *ngIf="column=='emailId'">{{ 'EmailAddress' | translate }}</span>
                        <span *ngIf="column=='productId'">{{ 'Product' | translate }}</span>
                        <span *ngIf="column=='status'">{{ 'Status' | translate }}</span>

                        <span *ngIf="column=='startDate'">{{ 'StartDate' | translate }}</span>
                        <span *ngIf="column=='endDate'">{{ 'EndDate' | translate }}</span>
                    </th>
                </tr>
                <tr>
                    <td mat-cell *matCellDef="let element;">


                        <span class=" hyperlink-click" *ngIf="column=='policyNo'" (click)="showDetails(element)">

                            {{element[column]}}</span>

                        <span *ngIf="column !='policyNo' && column!='startDate' && column!='endDate'">
                            {{element[column]}}</span>
                        <span
                            *ngIf="column=='startDate' || column=='endDate'">{{element[column] | date:runtimeConfigService.config.DisplayingDateFormat}}</span>

                    </td>
                </tr>
            </ng-container>

            <tr class="poppins-reg-15 opa8" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr class="poppins-reg-15 opa8" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>