.bgcolor {
    background-color: #dedede33;
    border: #00000033 1px solid;
  }
  label {
    color: #00000099;
  }
  strong {
    color: #000000cc;
  }
  .hrline {
    border-top: dashed 2px;
    border-color: lightgray;
    opacity: 0.6;
  }