<div class="container">

    <!-- Plan -->
    <div>
        <p class="f18 my-4 border-btm fbold" [ngClass]="{entextalign :language=='en',artextalign :language=='ar'}"> {{'PlanDetails' | translate }}</p>
        <hr />
        <p *ngIf="!isPlanAvailable" class="mt-2">{{'NoPlans' | translate}}</p>
        <div class="d-none d-xl-block">

            <div class="mt-3 plan-container" *ngIf="isPlanAvailable" style="width: 975px;">
                <div class="pr-0" style="width: 365px;">
                    <div class="centercss" style="height:110px;border-bottom: 1px solid #e8e6e6;">
                        <span class="cover-head fbold ">{{'Coverages' | translate}}</span>
                    </div>
                    <ul role="list" [ngClass]="{entextalign :language=='en',artextalign :language=='ar'}">
                        <li *ngFor="let item of mandatoryCovers | keyvalue: originalOrder" style="height: 40px; padding-top: 17px;">
                            <span class="coverage-content">{{item.key}}</span>
                            <hr />
                        </li>
                        <li *ngFor="let item of optionalCovers | keyvalue: originalOrder" style="height: 40px; padding-top: 23px;">
                            <span class="coverage-content">{{item.key}}</span>
                            <hr />
                        </li>
                    </ul>
                    <ul class="mb-0">
                        <div [ngClass]="{entextalign :language=='en',artextalign :language=='ar'}">
                            <span class="fbold" style="color: #01785a;" [ngClass]="{'mr-2' :language=='en','ml-2' :language=='ar'}">{{ 'PlaceHolder.DiscountCode' | translate }}</span>
                            <input [ngClass]="{'mr-2' :language=='en','ml-2' :language=='ar'}" style="width: 125px;" type="text" (blur)="onBlurMethod('promoInputField')" id="promoInputField" placeholder="{{ 'PlaceHolder.DiscountCode' | translate }}">
                            <span style="margin-top: 5px;color: red;" *ngIf="showPromoDiscount">
                                <i (click)="removePromoDiscount('promoInputField')" style="font-size:15px"
                                    class="fas fa-times-circle fa-2x custom-cursor"></i>
                            </span>
                        </div>
                    </ul>
                </div>
                <div class="plan-container" style="width: 625px;">
                    <mat-card *ngFor="let plan of planOb['plans'];" class="card" [ngClass]="{'mr-1' :language=='en','ml-1' :language=='ar'}" style="width: 200px;height: 94%;padding: 0px !important;" [ngClass]="{
      'mat-elevation-z24': isSelectedPlan(plan)
    }">
                        <div class="no_margin plan-name-amt">
                            <div [ngClass]="{ 
          'silver-card-header': plan.bgColor == 0,
          'gold-card-header': plan.bgColor == 1,
          'platinum-card-header':plan.bgColor == 2,
          'silver-card-header-2': plan.bgColor == 3,
          'gold-card-header-2': plan.bgColor == 4,
          'platinum-card-header-2':plan.bgColor == 5
         }" style="height: 110px;">
                                <div class="col-md-12 centertext pt-2">
                                    <mat-radio-button value="auto" [checked]="plan.confirmed" (click)="selectPlan(plan)">
                                    </mat-radio-button>
                                </div>
                                <div class="col-md-12  centertext header-text f16">
                                    {{plan.planDetails[0].currency}} {{plan.planDetails[0].premiumWithVAT | DecimalValue}}
                                </div>
                                <div *ngIf ="language == 'en'" class="col-md-12 f15 header-text" style="text-align: center;">
                                    {{plan.planDetails[0].planName}}
                                </div>
                                <div *ngIf ="language == 'ar'" class="col-md-12 f15 header-text" style="text-align: center;">
                                    {{plan.planDetails[0].planNameArabicDesc}}
                                </div>
                            </div>
                            <ul role="list" class="list-coverage MT10" style="text-align: center;" [ngClass]="{
          'silver-card-body': plan.bgColor == 0,
          'gold-card-body': plan.bgColor == 1 ,
          'platinum-card-body':plan.bgColor == 2,
          'silver-card-body-2': plan.bgColor == 3,
          'gold-card-body-2': plan.bgColor == 4,
          'platinum-card-body-2':plan.bgColor == 5
        }">
                                <li *ngFor="let item of mandatoryCovers | keyvalue: originalOrder" style="height: 40px;">
                                    <div style="padding: 8px 0px 7px 0px;">
                                        <img class="sub-image" src="assets/compare-plans/tick2.png" *ngIf="getData(plan.planDetails[0].planId, item.value);else NoCheckBox1">
                                        <ng-template #NoCheckBox1>
                                            <!-- <span style="font-size: 13px;color: red;">
                                                <i class="fas fa-times-circle fa-1x custom-cursor"></i>
                                            </span> -->
                                        <img src="assets/compare-plans/cross2.png">
                                        </ng-template>
                                    </div>
                                    <hr />
                                </li>
                                <li *ngFor="let item of optionalCovers | keyvalue: originalOrder" style="height: 40px; padding-top: 15px;">
                                    <mat-checkbox (change)="toggleCoverage(plan, item.value, $event)" *ngIf="getOptionalData(plan.planDetails[0].planId, item.value);else NoCheckBox2" [checked]="doCall(plan, item.value)">
                                    </mat-checkbox>
                                    <ng-template #NoCheckBox2>
                                        <span style="font-size: 13px;color: red;">
                                            <i class="fas fa-times-circle fa-1x custom-cursor"></i>
                                        </span>
                                    </ng-template>
                                    <hr class="hor-line" />
                                </li>
                            </ul>
                        </div>
                    </mat-card>
                </div>
            </div>


            <!-- Excess -->
            <div class="py-2" *ngIf="isNotEmpty(excess)">
                <div>
                    <div class="card-body" style="padding:0px;" [ngClass]="{entextalign :language=='en',artextalign :language=='ar'}">
                        <div class="row" *ngFor="let item of excess | keyvalue">
                            <div class="mt-3 pl-3 fbold" style="width: 365px;">{{'EXCESS' | translate}} {{'InAED' | translate}}
                            </div>
                            <ng-container *ngFor="let plan of planOb['plans']">
                                <div class="mt-3" style="width: 206px;">
                                    <div style="width: 130px;">
                                        <span style="float: right;">
                                            {{fetchAmount(plan.planDetails[0].planId, item.value, 'E') | DecimalValue}}
                                        </span>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Premium -->
            <div class="py-2">
                <div>
                    <div class="card-body" style="padding:0px;" [ngClass]="{entextalign :language=='en',artextalign :language=='ar'}">
                        <div class="row" id="headerDiv">
                            <div class="mt-2 pl-3 fbold" style="width: 365px;">
                                {{'Premium' | translate}}{{'InAED' | translate}}</div>
                            <ng-container *ngFor="let plan of planOb['plans']">
                                <div class="mt-2" style="width: 206px;">
                                    <div style="width: 130px;">
                                        <span style="float: right;">
                                    {{getPremiumWithCharges(plan.planDetails[0])| DecimalValue}}
                                    </span>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Discount -->
            <div class="py-2" *ngIf="isNotEmpty(discounts)">
                <div>
                    <div class="card-body" style="padding:0px;" [ngClass]="{entextalign :language=='en',artextalign :language=='ar'}">
                        <div class="row" *ngFor="let item of discounts | keyvalue">
                            <div class="mt-3 pl-3 fbold" style="width: 365px;">{{'NCDdiscounts' | translate}}{{'InAED' | translate}}</div>
                            <ng-container *ngFor="let plan of planOb['plans']">
                                <div class="mt-3" style="width: 206px;">
                                    <div style="width: 130px;">
                                        <span style="float: right;">
                                    {{fetchAmount(plan.planDetails[0].planId, item.value, 'D') | DecimalValue}}
                                    </span>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Promotional Discount -->
            <div class="py-2" *ngIf="showPromoDiscount">
                <div>
                    <div class="card-body" style="padding:0px;" [ngClass]="{entextalign :language=='en',artextalign :language=='ar'}">
                        <div class="row" id="headerDiv">
                            <div class="mt-2 pl-3 fbold" style="width: 365px;">{{'PromotionalDiscount' | translate}}{{'InAED' | translate}}</div>
                            <div class="row mx-0" *ngFor="let item of promoDiscounts | keyvalue">
                                <ng-container *ngFor="let plan of planOb['plans']">
                                    <div class="mt-2" style="width: 206px;">
                                        <div style="width: 130px;">
                                            <span style="float: right;">
                                        {{fetchAmount(plan.planDetails[0].planId, item.value, 'D') | DecimalValue}}
                                        </span>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Loadings section-->
            <div class="py-2" *ngIf="isNotEmpty(loadings)">
                <div>
                    <span class="fbold">{{'Loadings' | translate}}</span>
                </div>
                <div>
                    <div style="padding:0px;" class="card-body m-1" [ngClass]="{entextalign :language=='en',artextalign :language=='ar'}">
                        <div class="row" *ngFor="let item of loadings | keyvalue">
                            <div class="mt-3 pl-3 fbold" style="width: 365px;">{{'NCDdiscounts' | translate}} {{'InAED' | translate}}
                            </div>
                            <ng-container *ngFor="let plan of planOb['plans']">
                                <div class="mt-3" style="width: 206px;">
                                    <div style="width: 130px;">
                                        <span style="float: right;">
                                    {{fetchAmount(plan.planDetails[0].planId, item.value, 'L') | DecimalValue}}
                                    </span>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Net Premium -->
            <div class="py-2">
                <div>
                    <div class="card-body" style="padding:0px;" [ngClass]="{entextalign :language=='en',artextalign :language=='ar'}">
                        <div class="row" id="headerDiv">
                            <div class="mt-2 pl-3 fbold" style="width: 365px;">
                                {{'NetPremium' | translate}}{{'InAED' | translate}}
                            </div>
                            <ng-container *ngFor="let plan of planOb['plans']">
                                <div class="mt-2" style="width: 206px;">
                                    <div style="width: 130px;">
                                        <span style="float: right;">
                                    {{getNetPremium(plan.planDetails[0]) | DecimalValue}}
                                    </span>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>

            <!-- VAT section -->
            <div class="py-2">
                <div>
                    <div class="card-body" style="padding:0px;" [ngClass]="{entextalign :language=='en',artextalign :language=='ar'}">
                        <div class="row" id="headerDiv">
                            <div class="mt-2 pl-3 fbold" style="width: 365px;">{{'VAT' | translate}} {{ VatPercentage }} {{'InAED' | translate}}</div>
                            <div class="row mx-0" *ngFor="let item of charges | keyvalue">
                                <ng-container *ngFor="let plan of planOb['plans']">
                                    <div class="mt-2" style="width: 206px;">
                                        <div style="width: 130px;">
                                            <span style="float: right;">
                                        {{fetchAmount(plan.planDetails[0].planId, item.value, 'P') | DecimalValue}}
                                            </span>
                                            </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Premium including VAT-->
            <div class="py-2" id="accordionExample">
                <div>
                    <div class="card-body" style="padding:0px;" [ngClass]="{entextalign :language=='en',artextalign :language=='ar'}">
                        <div class="row" id="headerDiv">
                            <div class="mt-2 pl-3 fbold" style="width: 365px;font-size: 15px;">
                                {{'PremiumIncludingVAT' | translate}} {{'InAED' | translate}}</div>
                            <ng-container *ngFor="let plan of planOb['plans']">
                                <div class="mt-2 fbold" style="width: 206px;font-size: 15px;">
                                    <div style="width: 130px;">
                                        <span style="float: right;">
                                    {{getPremiumWithVat(plan.planDetails[0]) | DecimalValue}}
                                    </span>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-xl-none">
            <mat-accordion>
                <mat-expansion-panel style="margin-top: 20px" *ngFor="let plan of planOb['plans'];let i = index" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header [ngClass]="{ 
                        'mob-silver-header': plan.bgColor == 0,
                        'mob-gold-header': plan.bgColor == 1,
                        'mob-platinum-header':plan.bgColor == 2
                       }">
                        <div class="d-flex" [ngClass]="{entextalign :language=='en',artextalign :language=='ar'}">
                            <div *ngIf ="language == 'en'" class="m-1 fbold">
                                {{plan.planDetails[0].planName}}
                                <span *ngIf="plan.confirmed" [ngClass]="{'ml-2' :language=='en','mr-2' :language=='ar'}"><i style="color: #32ba7c;"
                                class="fa fa-check-circle fa-x" aria-hidden="true"></i>
                            </span>
                            </div>
                            <div *ngIf ="language == 'ar'" class="m-1 fbold">
                                {{plan.planDetails[0].planNameArabicDesc}}
                                <span *ngIf="plan.confirmed" [ngClass]="{'ml-2' :language=='en','mr-2' :language=='ar'}"><i style="color: #32ba7c;"
                                class="fa fa-check-circle fa-x" aria-hidden="true"></i>
                            </span>
                            </div>
                            <!-- <div class="ml-4 mt-2 row ">
                                <div class="justify-content-center"> -->
                            <input class="mt-2" [ngClass]="{'ml-2' :language=='en','mr-2' :language=='ar'}" type="radio" value="auto" [checked]="plan.confirmed" (click)="planselectMob(plan)" />
                            <!-- <button class="btn button bggreen fwhite" (click)="planselectMob(plan)">Choose Plan</button> -->
                            <!-- </div>
                            </div> -->
                        </div>
                        <div class="row">
                            <div class="mt-1 col-lg-4 col-md-4 col-sm-4 col-12" [ngClass]="{enmobilealignment:language=='en',armobilealignment :language=='ar'}">
                                <div [ngClass]="{entextalign :language=='en',artextalign :language=='ar'}">
                                    {{ 'PremiumInclVAT' | translate }} {{plan.planDetails[0].currency}}. {{plan.planDetails[0].premiumWithVAT | DecimalValue}}
                                </div>
                                <div class="mt-1" [ngClass]="{entextalign :language=='en',artextalign :language=='ar'}">
                                    (Inclusive of 5% VAT)
                                </div>
                            </div>
                        </div>
                        <!-- <div class="mt-4 d-flex justify-content-center fgreen">
                            Click here for more info</div> -->
                    </mat-expansion-panel-header>
                    <div [ngClass]="{ 
                        'mob-silver-body': plan.bgColor == 0,
                        'mob-gold-body': plan.bgColor == 1,
                        'mob-platinum-body':plan.bgColor == 2
                       }">
                        <ng-container>
                            <div class="flex-container m-1 p-2">
                                <div style="flex-grow: 7" [ngClass]="{entextalign :language=='en',artextalign :language=='ar'}">
                                    <ul role="list">
                                        <li *ngFor="let item of mandatoryCovers | keyvalue: originalOrder" class="p-1 " style="height: 40px;">
                                            <span class="coverage-content">{{item.key}}</span>
                                        </li>
                                        <li *ngFor="let item of optionalCovers | keyvalue: originalOrder" class="p-1 " style="height: 40px;">
                                            <span class="coverage-content">{{item.key}}</span>
                                        </li>
                                    </ul>
                                    <ul class="mb-0">
                                        <div [ngClass]="{entextalign :language=='en',artextalign :language=='ar'}">
                                            <span class="">
                                        <span class="fbold fgreen" [ngClass]="{'mr-2' :language=='en','ml-2' :language=='ar'}"> {{ 'PlaceHolder.DiscountCode' | translate }}</span>
                                            <input [ngClass]="{'mr-2' :language=='en','ml-2' :language=='ar'}" style="width: 120px;" type="text" (blur)="onBlurMethodMob($event, null)" id="{{plan.promoFieldId}}" placeholder="{{ 'PlaceHolder.DiscountCode' | translate }}">
                                            <span style="margin-top: 5px;color: red;" *ngIf="showPromoDiscount">
                                            <i (click)="removePromoDiscountMob(plan.promoFieldId)"
                                                style="font-size:15px"
                                                class="fas fa-times-circle fa-2x custom-cursor"></i>
                                        </span>
                                            </span>
                                        </div>
                                    </ul>
                                </div>
                                <div style="flex-grow: 3">
                                    <ul role="list" class="list-coverage MT10" style="text-align: center;">
                                        <li *ngFor="let item of mandatoryCovers | keyvalue: originalOrder" class="p-1 " style="height: 40px;">
                                            <img class="sub-image" src="assets/compare-plans/tick2.png" *ngIf="getData(plan.planDetails[0].planId, item.value);else NoCheckBox1">
                                            <ng-template #NoCheckBox1>
                                                <!-- <span style="font-size: 13px;color: red;">
                                                <i class="fas fa-times-circle fa-1x custom-cursor"></i>
                                            </span> -->
                                            <img src="assets/compare-plans/cross2.png">

                                            </ng-template>
                                            <!-- <hr /> -->
                                        </li>
                                        <li *ngFor="let item of optionalCovers | keyvalue: originalOrder" class="p-1 " style="height: 40px;">
                                            <mat-checkbox (change)="toggleCoverage(plan, item.value, $event)" *ngIf="getOptionalData(plan.planDetails[0].planId, item.value);else NoCheckBox2" [checked]="doCall(plan, item.value)">
                                            </mat-checkbox>
                                            <ng-template #NoCheckBox2>
                                                <span style="font-size: 13px;">-</span>
                                            </ng-template>
                                            <!-- <hr /> -->
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Excess -->
                            <div *ngIf="isNotEmpty(excess)" [ngClass]="{entextalign :language=='en',artextalign :language=='ar'}">
                                <div class="row" *ngFor="let item of excess | keyvalue">
                                    <div class="col-xs-9 col-9 mt-2 pl-4 fbold">{{item.key}} {{'InAED' | translate}}</div>
                                    <div class="col-xs-3 col-3 d-flex justify-content-end mt-2">
                                        {{fetchAmount(plan.planDetails[0].planId, item.value, 'E') | DecimalValue}}
                                    </div>
                                </div>
                            </div>
                            <!-- Premium -->
                            <div class="row" id="headerDiv" [ngClass]="{entextalign :language=='en',artextalign :language=='ar'}">
                                <div class="col-xs-9 col-9 mt-2 pl-4 fbold">{{'Premium' | translate}}{{'InAED' | translate}}
                                </div>
                                <div class="col-xs-3 col-3 d-flex justify-content-end mt-2">
                                    {{getPremiumWithCharges(plan.planDetails[0])| DecimalValue}}
                                </div>
                            </div>
                            <!-- Discount -->
                            <div *ngIf="isNotEmpty(discounts)" [ngClass]="{entextalign :language=='en',artextalign :language=='ar'}">
                                <div class="row" *ngFor="let item of discounts | keyvalue">
                                    <div class="col-xs-9 col-9 mt-2 pl-4 fbold">
                                        {{item.key}}{{'InAED' | translate}}</div>
                                    <div class="col-xs-3 col-3 d-flex justify-content-end mt-2 ">
                                        {{fetchAmount(plan.planDetails[0].planId, item.value, 'D') | DecimalValue}}
                                    </div>
                                </div>
                            </div>
                            <!-- Promotional Discount -->
                            <div *ngIf="showPromoDiscount" [ngClass]="{entextalign :language=='en',artextalign :language=='ar'}">
                                <div class="row" *ngFor="let item of promoDiscounts | keyvalue">
                                    <div class="col-xs-9 col-9 mt-2 pl-4 fbold">{{'PromotionalDiscount' | translate}}{{'InAED' | translate}}
                                    </div>
                                    <div class="col-xs-3 col-3 d-flex justify-content-end mt-2">
                                        {{fetchAmount(plan.planDetails[0].planId, item.value, 'D') | DecimalValue}}
                                    </div>
                                </div>
                            </div>
                            <!-- Loadings section-->
                            <div *ngIf="isNotEmpty(loadings)" [ngClass]="{entextalign :language=='en',artextalign :language=='ar'}">
                                <div class="row" *ngFor="let item of loadings | keyvalue">
                                    <div class="col-xs-9 col-9 mt-2 pl-4 fbold">{{item.key}} {{'InAED' | translate}}</div>
                                    <div class="col-xs-3 col-3 d-flex justify-content-end mt-2">
                                        {{fetchAmount(plan.planDetails[0].planId, item.value, 'L') | DecimalValue}}
                                    </div>
                                </div>
                            </div>
                            <!-- Net Premium -->
                            <div class="row" id="headerDiv" [ngClass]="{entextalign :language=='en',artextalign :language=='ar'}">
                                <div class="col-xs-9 col-9 mt-2 pl-4 fbold">
                                    {{'NetPremium' | translate}}{{'InAED' | translate}}
                                </div>
                                <div class="col-xs-3 col-3 d-flex justify-content-end mt-2">
                                    {{getNetPremium(plan.planDetails[0]) | DecimalValue}}
                                </div>
                            </div>
                            <!-- VAT section -->
                            <div class="row" id="headerDiv" [ngClass]="{entextalign :language=='en',artextalign :language=='ar'}">
                                <div class="col-xs-9 col-9 mt-2 pl-4 fbold">{{'VAT' | translate}} {{ VatPercentage }} {{'InAED' | translate}}</div>
                                <div class="col-xs-3 col-3 d-flex justify-content-end mt-2" *ngFor="let item of charges | keyvalue">
                                    {{fetchAmount(plan.planDetails[0].planId, item.value, 'P') | DecimalValue}}
                                </div>
                            </div>
                            <!-- Premium including VAT-->
                            <div class="row" id="headerDiv" [ngClass]="{entextalign :language=='en',artextalign :language=='ar'}">
                                <div class="col-xs-9 col-9 mt-2 pl-4 fbold">{{'PremiumIncludingVAT' | translate}} {{'InAED' | translate}}</div>
                                <div class="col-xs-3 col-3 d-flex justify-content-end mt-2">
                                    {{getPremiumWithVat(plan.planDetails[0]) | DecimalValue}}
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    <div class="my-4 d-flex justify-content-between">
        <button type="button" class="btn button bggreen fwhite" (click)="goBack()">
            <i class="fa fa-arrow-left" *ngIf="language === 'en'"></i>
            <i class="fa fa-arrow-right" *ngIf="language === 'ar'"></i>
            {{'ReviseDetails' | translate}}
        </button>
        <button type="button" class="btn button bggreen fwhite" (click)="confirmPlan()">
            {{'Continue' | translate}}
            <i class="fa fa-arrow-right" *ngIf="language === 'en'"></i>
            <i class="fa fa-arrow-left" *ngIf="language === 'ar'"></i>
        </button>
    </div>

</div>