.closeicon_css {
    position: relative;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
     ::ng-deep .mat-vertical-content-container {
        margin-left: 0px !important;
        border: 0;
        position: relative;
    }
     ::ng-deep .mat-vertical-stepper-header {
        display: flex;
        align-items: center;
        padding: 0px !important;
        height: 24px;
    }
}