<div class="container-fluid">
    <mat-card class="m-2 p-2">
        <div class="row">
            <div class="col-md-4 col-12 ">
                <label class="poppins-light-15">{{ 'PolicyNo' | translate }}</label> <br>
                <b>{{paydetails?.policyNo}}</b>
            </div>
            <div class="col-md-4 col-12">
                <label class="poppins-light-15">{{ 'InsuredNameLabel' | translate }}</label> <br>
                <p class="poppins-semi-bold-18">{{subscriptionDetail?.insuredName}}</p>
                            </div>
            <div class="col-md-4 col-12">
                <label class="poppins-light-15">{{ 'PolicyPeriod' | translate }}</label> <br>
                <p class="poppins-semi-bold-18">{{paydetails?.startDate | date:runtimeConfigService.config.DisplayingDateFormat}} {{ 'To' | translate }}
                    {{paydetails?.endDate | date:runtimeConfigService.config.DisplayingDateFormat}}</p>
            </div>
        </div>
    </mat-card>
    <label class="m-2">{{ 'MakePaymentLabel' | translate }}</label>
    <mat-card class="m-2">

        <div class="row">
            <div class="col-md-4 col-12 p-2">
                <label class="poppins-light-15">{{ 'TotalAmount' | translate }} </label> <br>
                <b>{{subscriptionDetail?.currencyId}} {{subscriptionDetail?.amount | DecimalValue}}</b>
                <!-- <label class="payment_css ">Payment Type <span class="fee_css">(3rd Party Fee of 3% Will
                        Apply)</span></label> -->
            </div>
            <div class="col-md-4 col-12 p-2">
                <label class="poppins-light-15">{{ 'AmountPaid' | translate }}</label> <br>
                <input type="text" class="form-control col-sm-4" disabled>
            </div>
            <div class="col-md-4 col-12 p-2">
                <label class="poppins-light-15">{{ 'OutstandingAmount' | translate }}</label> <br>
                <input type="text" class="form-control col-sm-4" disabled>
            </div>

        </div>
    </mat-card>

    <!-- <div class="d-flex justify-content-end">
        <button class="col-md-2 col-sm-4 col-xs-12 col-12 btn blockbutton btn-block bggreen fwhite button m-3">
            {{ 'MakePaymentLabel' | translate }}
        </button>
    </div> -->

</div>