.mat-card {
  width: 230px;
  height: 250px;
}
.headerheight {
  height: 65px;
}
.thumbnail {
  overflow-y: hidden;
  height: 250px;
  min-height: 250px;
  max-height: 250px;
}
.mat-card-image {
  width: 100%;
  margin: 0;
}
