<div class="row p-2 m-0">
    <div class="col-md-12 col-12">
        <app-dash-notification></app-dash-notification>
    </div>
</div>


<div class="row p-2 m-0" [ngClass]="{entextalign :language=='en',artextalign :language=='ar'}">
    <!-- <mat-accordion class="col-md-3 mt-2">
        <mat-expansion-panel [expanded]="isFirst">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ 'ReferralQuotes' | translate }}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="cardheight">
                <div *ngIf="referalQuoteData.length > 0">
                    <table id="customers" class="poppins-med-14">
                        <tr>
                            <th> {{ 'ReferralDetails' | translate }}</th>
                        </tr>
                        <ng-container *ngFor="let item of referalQuoteData; let i=index">
                            <tr>
                                <td>
                                    <h5 class="link poppins-med-16">
                                        {{item.quoteNo}}</h5>
                                    <span *ngIf="item.statusId == 'R'" class="sub-details poppins-med-14">{{'ReferedTo' | translate}}</span>
                                    <span *ngIf="item.statusId == 'RA'" class="sub-details poppins-med-14">{{ 'Accepted' | translate }}</span>
                                    <span *ngIf="item.statusId == 'RD'" class="sub-details poppins-med-14">{{ 'Declined' | translate }}</span>
                                </td>
                            </tr>
                        </ng-container>
                    </table>
                </div>
                <div class="row align-items-center h-100" *ngIf="referalQuoteData.length === 0">
                    <span class="mat-header-cell mx-auto">{{ 'NoData' | translate }}</span>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion> -->

    <mat-accordion class="col-md-6 mt-2">
        <mat-expansion-panel [expanded]="isFirst">
            <mat-expansion-panel-header>
                <mat-panel-title class="f18">
                    {{'NewsAnnoc' | translate }}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="cardheight">
                <div *ngIf="news.length">
                    <div *ngFor="let new of news;let i = index;">
                        <div *ngIf="i == count">
                            <img style="height: 105px;width: 55%;" src="./assets/Mask Group 5.png">
                            <br>
                            <h4 class="f16 mt-2">{{new.name}}</h4>
                            <p>
                                {{new.comment}}
                            </p>
                        </div>
                    </div>
                </div>
                <mat-card-actions [ngClass]="{entext :language=='en',artext :language=='ar'}">
                    <button (click)="nav(-1)" [disabled]="!count" class="button">  < </button>
                    <button (click)="nav(+1)" [disabled]="!(count< news.length-1)" class="button"> > </button>
                </mat-card-actions>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion class="col-md-6 mt-2">
        <mat-expansion-panel [expanded]="isFirst">
            <mat-expansion-panel-header>
                <mat-panel-title class="f18">
                    {{'PolicyDueFor' | translate }}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="cardheight">
                <div *ngIf="tableData.length !== 0">
                    <table id="customers">
                        <tr>
                            <th> {{'PolicyDetails' | translate }}</th>
                        </tr>
                        <ng-container *ngFor="let item of tableData; let i=index">
                            <tr>
                                <td>
                                    <h5 class="link poppins-med-16">
                                        {{item.quoteNo}}</h5>
                                    <span *ngIf="item.statusId == 'R'" class="sub-details poppins-med-14">{{'ReferedTo' | translate }}</span>
                                    <span *ngIf="item.statusId == 'RA'" class="sub-details poppins-med-14">{{'Accepted' | translate }}</span>
                                    <span *ngIf="item.statusId == 'RD'" class="sub-details poppins-med-14">{{'Declined' | translate }}</span>
                                </td>
                            </tr>
                        </ng-container>
                    </table>
                </div>
                <div class="row align-items-center h-100" *ngIf="tableData.length === 0">
                    <span class="mat-header-cell mx-auto"> {{'NoData' | translate }}</span>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>