<div>
    <div class="row m-0 p-0">
        <div class="col-md-10 col-9">
            <h5 style="display: flex;align-content: center;">{{'ScanTheDoc' | translate }} </h5>
        </div>
        <div class="col-md-2 col-3 custom-cursor" (click)="onNoClick()">
            <mat-icon>
                close
            </mat-icon>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div style="text-align:center">
        <div *ngIf="!showCapturedImage">
            <p *ngIf="language === 'ar'" style="text-align: center;" class="mt-2">{{'PleaseScanTheDocument' | translate}}</p>
            <p  *ngIf="language === 'en'" style="text-align: center;" class="mt-2">Kindly scan the {{ uploadedDoc }} side of the document</p> 
            <!-- <p style="text-align: center;" class="mt-2">Kindly scan the {{ uploadedDoc }} side of the document</p> -->
            <div>
                <!-- <img class="framecss" src="./assets/sharedimg/Frame-Border-Black.png" [width]="frameWidth" /> -->
                <webcam [height]="height" [width]="width" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions" (cameraSwitched)="cameraWasSwitched($event)">
                </webcam>
                <p style="color: #e66300;" class="mb-0">{{'PleasePlaceyourcard' | translate}}</p>
            </div>

            <br/>
            <button class="btn button btn-default bggreen fwhite" (click)="triggerSnapshot();">{{'TakeSnapshot' | translate }}</button>
        </div>
        <div *ngIf="showCapturedImage">
            <div class="m-1 img-box img_wrp">
                <!-- <mat-icon class="close" (click)="close()">
                    close
                </mat-icon> -->
                <image-cropper class="cropper-container" autoCrop="false" [imageFile]="imageChangedEvent" [aspectRatio]="16/9" [cropperMinHeight]="200" [cropper]="cropperPosition" [maintainAspectRatio]="false" (cropperReady)="cropperReady()" [cropperMinWidth]="200" format="png"></image-cropper>
                <!-- <img [src]="imageSrc" [height]="height" [width]="width" /></div> -->
                <br/>
                <button class="btn button btn-default bggreen fwhite mt-2 mr-2" *ngIf="imageOne && !imageTwo" (click)="close()">{{'Rescan' | translate}}</button>
                <button class="mt-0 btn button btn-default bggreen fwhite mt-2" *ngIf="imageOne && !imageTwo" (click)="showCamTwo()">{{'Proceed' | translate}}</button>
                <div *ngIf="imageTwo" class="d-flex justify-content-between">
                    <button class="mt-0 btn button btn-default bggreen fwhite mt-2" (click)="reviseImage()">{{'ReviseDetails' | translate}}</button>
                    <button class="mt-0 btn button btn-default bggreen fwhite mt-2" *ngIf="imageTwo" (click)="close()">{{'Rescan' | translate}}</button>
                    <button class="mt-0 btn button btn-default bggreen fwhite mt-2" (click)="uploadImage()">{{'Upload' | translate}}</button>
                </div>
            </div>
        </div>
    </div>