.card {
    width: 500px !important;
    margin: 0 auto;
    max-width: 90%;
    text-align: center;
}

.paymentBtn {
    font-size: 15px;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}