<div *ngIf="currentpolicy" class="container-fluid my-3">
    <div class="row ml-1">
        <div>
            <button color="primary" class="btn blockbutton btn-block" (click)="goBack()">
                <i class="fa fa-arrow-left" style="color: white;" *ngIf="iconDir === 'en'"> </i> 
                <i class="fa fa-arrow-right" style="color: white;" *ngIf="iconDir === 'ar'"> </i>
                Back
            </button>
        </div>
        <div class="row ml-2 mr-4 col-md-11 col-12">
            <div class="col-md-3 col-12">
                <div class="row">
                    <label class="poppins-semi-bold-18 pr-2 policy-label">{{currentpolicy?.policyNo}}</label>
                    <div class="poppins-med-10 bg-success text-white rounded mt-0 m-1 px-2 py-0 ">
                        {{ 'Active' | translate }}
                    </div>
                </div>
                <div class="row poppins-light-14">
                    <label>{{productName}}</label>
                    <p class="ml-2 mr-2"> | </p>
                    <label>
                        {{currentpolicy?.startDate | date:runtimeConfigService.config.DisplayingDateFormat}} {{'To' | translate}}
                        {{currentpolicy?.endDate | date:runtimeConfigService.config.DisplayingDateFormat}}
                    </label>
                </div>
            </div>
            <div class="col-md-3 col-12" *ngIf="showClaimBtns">
                <button [disabled]="currentpolicy?.statusId == 'CAN'"
                    (click)="navigateclaims('Customer360/ReqForEndorsment')" class="btn blockbutton btn-block">
                    {{ 'ReqForEndorsement' | translate }}
                </button>
            </div>
            <div class="col-md-3 col-12" *ngIf="showClaimBtns">
                <button [disabled]="currentpolicy?.statusId == 'CAN'"
                    (click)="navigateclaims('Customer360/ReqForCancalletion')" class="btn blockbutton btn-block">
                    {{ 'ReqForCancel' | translate }}
                </button>
            </div>
            <div class="col-md-3 col-12" *ngIf="showClaimBtns">
                <button (click)="navigateclaims('Customer360/ReportLoss')" class="btn blockbutton btn-block">
                    {{ 'ReportLoss' | translate }}
                </button>
            </div>
        </div>
    </div>
    <mat-card *ngIf="endorsementList.length != 0 || claims.length != 0" class="mx-4">
        <div *ngIf="claims.length != 0">
        <label class="poppins-semi-bold-18">{{ 'Claims' | translate }}</label>
        <div class="d-none d-lg-block d-xl-block">
            <table mat-table [dataSource]="claims" class="mat-elevation-z8">
                <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
                    <tr>
                        <th mat-header-cell *matHeaderCellDef style="padding-bottom: 15px;">
                            <span *ngIf="column === 'Claims'">{{ 'ClaimFnol' | translate }} #</span>
                            <span *ngIf="column === 'IntimatedOn'" class="d-none d-sm-block">{{ 'IntimatedOn' |
                                translate }}</span>
                            <span *ngIf="column === 'lossOn'" class="d-none d-sm-block">{{ 'LossOn' | translate }}
                            </span>
                            <span *ngIf="column === 'Reserve'" class="d-none d-sm-none d-md-block">{{ 'Reserve' |
                                translate }} </span>
                            <span *ngIf="column === 'Settled'" class="d-none d-sm-none d-md-block">{{ 'Settled' |
                                translate }} </span>
                            <span *ngIf="column === 'Balance'" class="d-none d-sm-none d-md-block">{{ 'Balance' |
                                translate }}</span>
                            <span *ngIf="column === 'Status'" class="d-none d-sm-block">{{ 'Status' | translate
                                }}</span>
                        </th>
                    </tr>
                    <tr>
                        <td mat-cell *matCellDef="let element;" [ngClass]="{entextalign :language=='en',artextalign :language=='ar'}">
                            <span *ngIf="column === 'Claims'">{{(element.claimNo != null) ? element.claimNo :
                                element.fnolNo}}</span>
                            <span *ngIf="column === 'IntimatedOn'" class="d-none d-sm-block">{{element.intimatedDate |
                                date:runtimeConfigService.config.DisplayingDateFormat}}</span>
                            <span *ngIf="column === 'lossOn'" class="d-none d-sm-block">{{element.lossDate |
                                date:runtimeConfigService.config.DisplayingDateFormat}}</span>
                            <span *ngIf="column === 'Reserve'"
                                class="d-none d-sm-none d-md-block">{{element.reserveAmount}}</span>
                            <span *ngIf="column === 'Settled'" class="d-none d-sm-none d-md-block">
                                {{element.settledAmount}}</span>
                            <span *ngIf="column === 'Balance'" class="d-none d-sm-none d-md-block">
                                {{element.balance}}</span>
                            <span *ngIf="column === 'Status'" class="d-none d-sm-block"> {{element.status}} </span>
                            <span (click)="showBottomSheet(element)" *ngIf="column==='eye'"
                                class="d-block d-sm-block d-md-none">
                                <mat-icon>remove_red_eye</mat-icon>
                            </span>
                        </td>
                    </tr>
                </ng-container>
                <tr class="poppins-reg-15 opa8" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr class="poppins-reg-15 opa8" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <br>
        </div>
        <div class="d-block d-sm-block d-md-block d-lg-none">
            <div class="col-md-6 col-sm-12 col-12 p-0 m-0" *ngFor="let claim of claims">
                <mat-card class="doc-card mt-2  ml-2">
                    <div class="row mb-4 m-0 p-0">
                        <div class="col-5 card-label p-0">Claim No</div>
                        <div class="col-7 p-0 card-value">{{ claim.fnolNo}}</div>
                    </div>
                    <div class="row m-0 p-0">
                        <div class="col-5 card-label p-0">Loss On</div>
                        <div class="col-7 p-0 card-value">{{ claim.lossDate |
                            date:runtimeConfigService.config.DisplayingDateFormat}}</div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
        <div *ngIf="endorsementList.length != 0">
            <label class="poppins-semi-bold-18 mt-2">{{ 'Endorsements' | translate }}</label>
            <div class="d-none d-lg-block d-xl-block">
                <table mat-table [dataSource]="endorsementList" class="mat-elevation-z8">
                    <ng-container [matColumnDef]="column" *ngFor="let column of endorsementColumns">
                        <tr>
                            <th mat-header-cell *matHeaderCellDef style="padding-bottom: 15px;">
                                <span *ngIf="column === 'Endorsement No'">{{ 'EndorsementNo' | translate }}</span>
                                <span *ngIf="column === 'VAT Applied'">{{ 'VatApplied' | translate }}</span>

                                <span *ngIf="column === 'From Date'" class="d-none d-sm-block">{{ 'FromDate' |
                                    translate }}</span>
                                <span *ngIf="column === 'To Date'" class="d-none d-sm-block">{{ 'ToDate' |
                                    translate }}</span>
                                <span *ngIf="column === 'Status'" class="d-none d-sm-block">{{ 'Status' |
                                    translate }}</span>
                            </th>
                        </tr>
                        <tr>
                            <td mat-cell *matCellDef="let element;" [ngClass]="{entextalign :language=='en',artextalign :language=='ar'}">
                                <span *ngIf="column === 'Endorsement No'">{{element.endorsementNo}}</span>
                                <span *ngIf="column === 'Vat Applied'">{{element.vatApplYn}}</span>
                                <span *ngIf="column === 'From Date'" class="d-none d-sm-block">{{element.endorsementFromDate |
                                    date:runtimeConfigService.config.DisplayingDateFormat}}</span>
                                <span *ngIf="column === 'To Date'" class="d-none d-sm-block">{{element.endorsementToDate|
                                    date:runtimeConfigService.config.DisplayingDateFormat}}</span>
                                <span *ngIf="column === 'Status'" class="d-none d-sm-block">{{element.ulmStatus}}</span>
                            </td>
                        </tr>
                    </ng-container>
                    <tr class="poppins-reg-15 opa8" mat-header-row *matHeaderRowDef="endorsementColumns"></tr>
                    <tr class="poppins-reg-15 opa8" mat-row *matRowDef="let row; columns: endorsementColumns;"></tr>
                </table>
                <br>
            </div>
            <div class="d-block d-sm-block d-md-block d-lg-none">
                <div class="col-md-6 col-sm-12 col-12 p-0 m-0" *ngFor="let claim of endorsementList">
                    <mat-card class="doc-card mt-2  ml-2">
                        <div class="row mb-4 m-0 p-0">
                            <div class="col-5 card-label p-0">{{'EndorsementNo' | translate}}</div>
                            <div class="col-7 p-0 card-value">{{ claim.endorsementNo}}</div>
                        </div>
                        <div class="row m-0 p-0">
                            <div class="col-5 card-label p-0">{{ 'Status' | translate }}</div>
                            <div class="col-7 p-0 card-value">{{ claim.ulmStatus}}</div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </mat-card>
    <mat-card *ngIf="claimdisplay" class="d-none d-xl-block mx-4 mb-4 mt-0 pt-0">
        <mat-tab-group style="min-height:300px" class="custtab">
            <mat-tab>
                <ng-template mat-tab-label>
                    <div class="p-2" style="flex-direction: column;">
                        <img src="./assets/customer_360/vehicle.png">
                        <br>
                        <label>{{ 'Vehicle' | translate }}</label>
                    </div>
                </ng-template>
                <app-vehicletab></app-vehicletab>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <div class="p-2" style="flex-direction: column;">
                        <img src="./assets/customer_360/insured.png" alt="">
                        <br>
                        <label>{{ 'Driver' | translate }}</label>
                    </div>
                </ng-template>
                <app-drivertab></app-drivertab>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <div class="p-2 " style="flex-direction: column;">
                        <img src="./assets/customer_360/insured.png" alt="">
                        <br>
                        <label>{{ 'Insured' | translate }}</label>
                    </div>
                </ng-template>
                <app-insuredtab></app-insuredtab>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <div class="p-2" style="flex-direction: column;">
                        <img src="./assets/customer_360/covered.png" alt="">
                        <br>
                        <label>{{ 'Coverage' | translate }}</label>
                    </div>
                </ng-template>
                <app-coverage></app-coverage>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <div class="p-2" style="flex-direction: column;">
                        <img src="./assets/customer_360/documents.png" alt="">
                        <br>
                        <label>{{ 'Docs' | translate }}</label>
                    </div>
                </ng-template>
                <app-print-package [policyNo]="currentpolicy?.policyNo"></app-print-package>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
    <div class="d-xl-none">
        <mat-accordion>
            <mat-expansion-panel style="margin-top: 20px" (opened)="panelOpenState = true"
                (closed)="panelOpenState = false">
                <mat-expansion-panel-header style="height: 120px !important;">
                    <div class="p-2">
                        <img src="./assets/customer_360/vehicle.png">
                        <label>{{ 'Vehicle' | translate }}</label>
                    </div>
                </mat-expansion-panel-header>
                <ng-container>
                    <app-vehicletab></app-vehicletab>
                </ng-container>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel style="margin-top: 20px" (opened)="panelOpenState = true"
                (closed)="panelOpenState = false">
                <mat-expansion-panel-header style="height: 120px !important;">
                    <div class="p-2">
                        <img src="./assets/customer_360/insured.png" alt="">
                        <label>{{ 'Driver' | translate }}</label>
                    </div>
                </mat-expansion-panel-header>
                <ng-container>
                    <app-drivertab></app-drivertab>
                </ng-container>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel style="margin-top: 20px" (opened)="panelOpenState = true"
                (closed)="panelOpenState = false">
                <mat-expansion-panel-header style="height: 120px !important;">
                    <div class="p-2 ">
                        <img src="./assets/customer_360/insured.png" alt="">
                        <label>{{ 'Insured' | translate }}</label>
                    </div>
                </mat-expansion-panel-header>
                <ng-container>
                    <app-insuredtab></app-insuredtab>
                </ng-container>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel style="margin-top: 20px" (opened)="panelOpenState = true"
                (closed)="panelOpenState = false">
                <mat-expansion-panel-header style="height: 120px !important;">
                    <div class="p-2">
                        <img src="./assets/customer_360/covered.png" alt="">
                        <label>{{ 'Coverage' | translate }}</label>
                    </div>
                </mat-expansion-panel-header>
                <ng-container>
                    <app-coverage></app-coverage>
                </ng-container>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel style="margin-top: 20px" (opened)="panelOpenState = true"
                (closed)="panelOpenState = false">
                <mat-expansion-panel-header style="height: 120px !important;">
                    <div class="p-2">
                        <img src="./assets/customer_360/documents.png" alt="">
                        <label>{{ 'Docs' | translate }}</label>
                    </div>
                </mat-expansion-panel-header>
                <ng-container>
                    <app-print-package [policyNo]="currentpolicy?.policyNo"></app-print-package>
                </ng-container>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>